<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='day_style.css') }}">
    <title>{{title}}</title>
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
      </symbol>
      <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
      </symbol>
      <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
      </symbol>
      <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
      </symbol>
    </svg>


<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  </symbol>
</svg>

<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a>
        <span id="guitar_shop_title" class="fs-4" style="padding-right: 830px">CR Guitar Shop</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a id="login_link" class="me-3 py-2 link-body-emphasis text-decoration-none" href="/login" style="padding-right: 20px">     Login</a>
        <a id="logout_link" class="me-3 py-2 link-body-emphasis text-decoration-none" href="/login" style="padding-right: 20px">     Logout</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/cart_page" style="padding-right: 20px"><img class="mb-2" src="static/img/cart_image.png" alt="" width="20" height="20">⠀Cart</a>
        {% if from_req == 'Guitars' %}<a class="py-2 link-body-emphasis text-decoration-none" href="/index" style="padding-right: 20px">     Main</a> {% endif %}
        {% if from_req == 'Amplifiers' %}<a class="py-2 link-body-emphasis text-decoration-none" href="/amp" style="padding-right: 20px">     Main</a> {% endif %}
        <a id="createNewPosition" class="py-2 link-body-emphasis text-decoration-none" href="/add">     Create new position</a>
      </nav>
    </div>
  </header>
  {% block content %}{% endblock %}

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="static/img/belt.png" alt="" width="24" height="19">
        <small class="d-block mb-3 text-body-secondary">&copy; 2024–2024</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://t.me/juugaryan">Support</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://t.me/juugaryan">Questions</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://t.me/juugaryan">Offers</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://ru.wikipedia.org/wiki/Заглавная_страница">Wikipedia</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://yandex.ru/images/">Я.Картинки</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://getbootstrap.com/">Bootstrap</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://t.me/juugaryan">Team</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about">Site</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    var log_user_name = '{{ log_user_name }}';

    var createNewPositionLink = document.getElementById('createNewPosition');
    var guitar_shop_titleLink = document.getElementById('guitar_shop_title');
    var login_linkLink = document.getElementById('login_link');
    var logout_linkLink = document.getElementById('logout_link');

    if (log_user_name === 'admin') {
        createNewPositionLink.style.display = 'block';
        logout_linkLink.style.display = 'block';
        login_linkLink.style.display = 'none';
        guitar_shop_titleLink.style.paddingRight = '680px';
    } else if (log_user_name === 'not') {
        createNewPositionLink.style.display = 'none';
        logout_linkLink.style.display = 'none';
        login_linkLink.style.display = 'block';
        guitar_shop_titleLink.style.paddingRight = '830px';
    } else if (log_user_name !== 'not') {
        createNewPositionLink.style.display = 'none';
        login_linkLink.style.display = 'none';
        logout_linkLink.style.display = 'block';
        guitar_shop_titleLink.style.paddingRight = '890px';
    }
</script>
</body>
</html>